<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Pablo Gómez del Campo del Bosque.
</p>

<img src="/images/fotoalumno.jpg" />

<p>
   Repositorio GitHub: https://github.com/pgdelbosque/ProyectoQuiz
</p>

